body{
    background-color: rgb(241, 177, 233);
    text-align: center;
}
p 1{
    color: rgb(197, 211, 211);
}
.mme {
    color: rgba(114, 193, 240, 0.89);
    font-size: 50px ;
}
.img {
width:50%;

}
h1 {
font-style: oblique;

}